RewriteEngine On
RewriteBase /media-translations
 
# Lenguaje Germany: 'de'
RewriteCond %{HTTP:Accept-Language} ^de [NC]
RewriteRule ^/?$ de/ [R,NC,L]
 
# Lenguaje portugués: 'es'
RewriteCond %{HTTP:Accept-Language} ^es [NC]
RewriteRule ^/?$ es/ [R,NC,L]
 
#Regla general para los demás casos
RewriteRule ^/?$ en/ [R,NC,L]